body {
    /* margin: 0; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: #424242;
    background: white;
    font-size: 14px;
    margin: 0 auto;
}

button {
    font-weight: 600;
}

.mobile-wrapper {
    /* width: 414px; */
    margin: 0 auto;
    /* border: 2px solid; */
}

.App {
    /* padding: 2%; */
}

/* ------------------------------ Navbar ------------------------------ */
.navbar{
    background-color: white !important;
    display: flex !important;
}

.toolbar{
    display: flex !important;
    justify-content: space-between !important;
}
.account-icon{
   color: #E8833A !important;
}

/* --------------------------------- Login Page --------------------------------- */
.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button {
    margin: 20px;
}

.logo-section{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-section img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.header{
    width: 100%;
    height: 50px;
    background-color: orange;
}

/* -------------------------------- Scan Page ------------------------------- */
.scan-page {
    height: 100vh;
}

.button-scan{
    background-color: orange !important;
    width: 200px !important;
    height: 50px !important;
    color: white !important;
    margin-top: 20px !important;
}

.button-collection{
    background-color: orange !important;
    width: 200px !important;
    height: 50px !important;
    color: white !important;
    margin-top: 20px !important;
}

.scan-dummy{
    width: 300px;
    height: 300px;
    background-color: grey;
    border-radius: 30px;
}
/* -------------------------------- Slots Page ------------------------------- */
.slots-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.business-title {
}
.slots-status {
}
.slots {
    display: grid;
}

/* ------------------------------ Profile Page ------------------------------ */

/* -------------------------------- After Scan Page ------------------------------- */
.afterscan-page {
    height: 100vh;
}

.title{
    text-align: center !important;
    padding-top: 20px;
}
.sub-title{
    text-align: center !important;
    padding-top: 20px;
}

.title-map{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

.wrap-image-scan{
    width: 200px;
    height: 200px;
    background-color: black;
}

.wrap-image-scan img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* -------------------------------- Image Detail Page ------------------------------- */
.imagedetail-page {
    height: 100vh;
}

.button-share{
    background-color: #E8833A !important;
}

.button-explore{
    background-color: #E8833A !important;
}

/* -------------------------------- Customer Dashboard ------------------------------- */
.customerdashboard-page{
    height: 100vh;
}

.item-collection{
    width: 150px !important;
    height: 100px !important;
    background-color: grey !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------------------------- Customer Dashboard ------------------------------- */
.wrap-image-claim{
    width: 100%;
    height:auto;
}

.wrap-image-claim img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.bottom-navigation{
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
    cursor: pointer !important;
    box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.3);
}

.hover-bottom-navigation:hover{
    background-color: rgba(128, 128, 128, 0.1) !important;
    opacity: 0.9 !important;
    cursor: pointer !important;
}



